<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">Sharket</div>

    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/app/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a
        mat-list-item
        routerLink="/app/produtos"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Produtos</span>
      </a>
      <a
        mat-list-item
        routerLink="/app/pedidos"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        <span matListItemTitle>Pedidos</span>
      </a>
      <a
        mat-list-item
        routerLink="/app/financeiro"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
        <span matListItemTitle>Financeiro</span>
      </a>
      <a
        mat-list-item
        routerLink="/app/assinaturas"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>autorenew</mat-icon>
        <span matListItemTitle>Assinaturas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span class="toolbar-spacer"></span>
      <span class="user-name">{{ auth.user()?.nome }}</span>
      <button mat-icon-button (click)="auth.logout()" title="Sair">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
